<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 配置数据源&连接池 -->
	<import resource="applicationContext-dao.xml" />

	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- transaction manager -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Transactional advice -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" propagation="SUPPORTS" rollback-for="Exception" />
			<tx:method name="count*" propagation="SUPPORTS"
				rollback-for="Exception" />
			<tx:method name="save*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="update*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="del*" propagation="REQUIRED" rollback-for="Exception" />
			<tx:method name="obtain*" propagation="REQUIRED"
				rollback-for="Exception" />
			<tx:method name="*" propagation="NOT_SUPPORTED" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<!-- Global Exception Mechanism Advice -->
	<bean id="serviceExceptionAdvice" class="com.lhcis.spider.handler.ServiceExceptionLogger" />

	<!-- AOP -->
	<aop:config>
		<aop:pointcut id="serviceOperation"
			expression="execution(* com.lw.*.service.impl.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation" />
		<aop:advisor advice-ref="serviceExceptionAdvice"
			pointcut-ref="serviceOperation" />
	</aop:config>

</beans>
