<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置C3P0连接池 -->
    <import resource="applicationContext-datasource.xml" />

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 自动扫描实体类目录, 省掉Configuration.xml里的手工配置 -->
		<property name="typeAliasesPackage" value="com.lhcis.spider.model.business" />
	</bean>
	
	<!-- 扫描basePackage下所有以的dao层-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.lw.rpc.dao" />
	</bean>

</beans>
